<div class="homepage">
    <ion-view view-title="Dashboard" cache-view="false" hide-back-button="true">
        <ion-nav-bar class="navbarpages">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" ng-click="showLeftSlide()"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-content class="padding">
            <div class="page-content">
                <div class="logo"><img src="images/logo.png" alt="" title="" /></div>
            </div>
        </ion-content>
    </ion-view>
</div>