<div class="app-bg">
    <ion-view view-title="" cache-view="false" hide-back-button="true">
        <ion-nav-bar class="navbarpages">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" ng-click="showLeftSlide()"></button>
            </ion-nav-buttons>
            <!--<ion-nav-buttons side="right">
                <button class="button button-icon button-clear" ng-click="stageGo('menu.Home')">Skip Login</button>
            </ion-nav-buttons>-->
        </ion-nav-bar>
        <ion-content class="padding">
            <br> <br> <br>
            <form name="forgotFrm" ng-submit="forgotSubmit(forgotFrm.$valid, data)" novalidate>
                <div class="logoicon text-center">
                    <img src="img/logo.png" alt="" title="" />
                </div>
                <br>
                <div class="list">

                    <div class="list">
                        <label class="item item-input">
                            <input type="email" name="email" ng-model="data.email" placeholder="Email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,6}$/" ng-required="true">
                        </label>
                        <span class="error" ng-show="(forgotFrm.$submitted || forgotFrm.email.$touched) && (forgotFrm.email.$pristine || forgotFrm.email.$invalid) && (forgotFrm.email.$error.required)">Email Required</span>
                        <span class="error" ng-show="(forgotFrm.$submitted || forgotFrm.email.$touched) && (forgotFrm.email.$pristine || forgotFrm.email.$invalid) && (forgotFrm.email.$error.pattern)">Enter Valid Email Id</span>
                    </div>

                    <button class="button button-block button-dark"> SEND </button>
            </form>
        </ion-content>
    </ion-view>
    </div>