<div class="homepage">
    <ion-view view-title="Best Seller" cache-view="false" hide-back-button="true">
        <!--<ion-nav-bar class="navbarpages">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" ng-click="showLeftSlide()"></button>
            </ion-nav-buttons>
        </ion-nav-bar>-->
        <ion-nav-bar class="navbar-inner navbar-on-center">
            <ion-nav-buttons side="left">
                <img src="img/menu.png" ng-click="showLeftSlide()" alt="" />
            </ion-nav-buttons>

            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-android-cart" ng-click="showRightSlide()"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-content class="padding conent-section">
            <div class="page-content underconst mar40">
                <h1 class="blink"> Work in Progress </h1>
            </div>
        </ion-content>
    </ion-view>
</div>